.showcol > .grp1{
  background-color:#f1c232
}

.showcol > .grp2{
  background-color: #3d85c6
}

.showcol > .grp3{
  background-color: #e69138
}

.showcol > .grp4{
  background-color:  #93c47d
}

.showcol > .grp5{
  background-color:  #ead1dc
}